@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* 
=================
	GLOBAL CONFIG
================= 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Overpass", sans-serif;
}

:root {
	/* === Primary === */
	--lightRed: hsl(356, 100%, 66%);
	--veryLightRedHover: hsl(355, 100%, 74%);
	--veryDarkBlue: hsl(208, 49%, 24%);

	/* === Neutral === */

	--white: hsl(0, 0%, 100%);
	--grayishBlue: hsl(240, 2%, 79%);
	--veryDarkGrayishBlue: hsl(207, 13%, 34%);
	--veryDarkBlackBlue: hsl(240, 10%, 16%);

	/* === Gradient === */

	/* Background gradient - Intro/CTA mobile nav: */

	--veryLightRed: hsl(13, 100%, 72%);
	--lightRed: hsl(353, 100%, 62%);

	/* Background gradient - body: */

	--veryDarkGrayBlue: hsl(237, 17%, 21%);
	--veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
}

body {
	max-width: 1440px;
	margin: auto;
	height: 100vh;
}

header {
	color: var(--white);
	margin: 0 auto;
	position: relative;
}

h1 {
	color: var(--white);
	font-size: 64px;
}

h4 {
	font-size: 20px;
	font-weight: 300;
}

nav {
	position: static;
	display: flex;
	justify-content: space-between;
	padding: 0 80px;
}

ul {
	list-style: none;
}

button {
	width: 137px;
	height: 48px;
	margin: 5px;
	color: var(--lightRed);
	background-color: var(--white);
	border: none;
	border-radius: 28px;
	font-weight: bold;
	font-size: 16px;
	transition: 0.3s;
}

button:hover {
	color: var(--white);
	background-color: var(--veryLightRedHover);
}

a {
	text-decoration: none;
}

button,
a,
li {
	font-family: "Ubuntu", sans-serif;
}

button,
a {
	cursor: pointer;
}

li > a {
	position: relative;
	display: block;
	padding: 0.2em 0;
	color: var(--white);
}

li > a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--white);
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

li > a:hover::after,
li > a:focus::after,
li > a:focus ~ .sub_menu {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

/* 
=================
		HEADER
================= 
*/

.menu_container {
	display: flex;
	align-items: center;
}

.nav_menu {
	display: flex;
	align-items: center;
	padding-left: 40px;
}

.nav_menu > li {
	padding: 0 20px;
	font-weight: bold;
}

.sub_menu {
	position: absolute;
	width: 168px;
	margin-top: 30px;
	padding: 20px;
	border-radius: 5px;
	background-color: var(--white);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
	color: var(--veryDarkBlackBlue);
	font-weight: 300;

	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.sub_menu li {
	padding: 10px 0;
}
.sub_menu a {
	color: inherit;
}
.sub_menu a:hover {
	font-weight: bold;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 920px;
	height: 219px;
	margin: 125px auto 0;
	z-index: 100;
}
.call_to_action {
	margin-top: 40px;
}
.call_to_action button:nth-child(2) {
	border: 1px solid var(--white);
	background: transparent;
	color: var(--white);
}
.call_to_action button:nth-child(2):hover {
	background-color: var(--white);
	color: var(--lightRed);
}

.singup_container > a {
	text-decoration: none;
	color: var(--white);
	font-weight: bold;
	margin-right: 20px;
}
.hero {
	position: relative;
	padding: 60px;
	height: 600px;
	border-radius: 0 0 0 100px;
	overflow: hidden;

	background-image: url(../images/bg-pattern-intro.svg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position-y: 52%;
	background-position-x: 25%;
}

.hero::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom right, var(--veryLightRed), var(--lightRed));
	z-index: -1;
}
